<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.foodaholic.main">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:name="com.foodaholic.main.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.foodaholic.main.FaqActivity"/>
        <activity android:name="com.foodaholic.main.OffersAndPromotionsActivity" />
        <activity android:name="com.foodaholic.main.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.foodaholic.main.LoginActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.foodaholic.main.RegisterActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.foodaholic.main.MainActivity"
            android:label="@string/title_activity_main" />
        <activity android:name="com.foodaholic.main.AboutActivity" />
        <activity
            android:name="com.foodaholic.main.ProfileEditActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"  />
        <activity android:name="com.foodaholic.main.HotelByCatActivity" />
        <activity android:name="com.foodaholic.main.HotelDetailsActivity" />
        <activity android:name="com.foodaholic.main.CartActivity" />
        <activity
            android:name="com.foodaholic.main.CheckOut"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.foodaholic.main.OrderDetailsActivity" />
        <activity android:name="com.foodaholic.main.SettingActivity" />
        <activity android:name="com.foodaholic.main.ForgotPasswordActivity" />
        <activity android:name="com.foodaholic.main.HotelByLatestActivity" />
        <activity android:name="com.foodaholic.main.HotelBySearchActivity" />
        <activity android:name="com.foodaholic.main.FavouriteActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- Activity required to show ad overlays. -->

        <service
            android:name="com.foodaholic.utils.NotificationExtenderExample"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>
    </application>

</manifest>