<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nanobit.Foodaholic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.nanobit.Foodaholic.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.nanobit.Foodaholic.FaqActivity"></activity>
        <activity android:name="com.nanobit.Foodaholic.OffersAndPromotionsActivity" />
        <activity android:name="com.nanobit.Foodaholic.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nanobit.Foodaholic.LoginActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.nanobit.Foodaholic.RegisterActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.nanobit.Foodaholic.MainActivity"
            android:label="@string/title_activity_main" />
        <activity android:name="com.nanobit.Foodaholic.AboutActivity" />
        <activity
            android:name="com.nanobit.Foodaholic.ProfileEditActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.nanobit.Foodaholic.HotelByCatActivity" />
        <activity android:name="com.nanobit.Foodaholic.HotelDetailsActivity" />
        <activity android:name="com.nanobit.Foodaholic.CartActivity" />
        <activity
            android:name="com.nanobit.Foodaholic.CheckOut"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.nanobit.Foodaholic.OrderDetailsActivity" />
        <activity android:name="com.nanobit.Foodaholic.SettingActivity" />
        <activity android:name="com.nanobit.Foodaholic.ForgotPasswordActivity" />
        <activity android:name="com.nanobit.Foodaholic.HotelByLatestActivity" />
        <activity android:name="com.nanobit.Foodaholic.HotelBySearchActivity" />
        <activity android:name="com.nanobit.Foodaholic.FavouriteActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- Activity required to show ad overlays. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <service
            android:name="com.nanobit.utils.NotificationExtenderExample"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>
    </application>

</manifest>